
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bloc</title>
    <!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- Normalize Style -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <!-- Color Switcher -->
    <link rel="stylesheet" href="assets/css/color-switcher.css" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/extras/animate.css" type="text/css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="assets/extras/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/extras/owl.theme.css" type="text/css">
    <!-- Rev Slider Css -->
    <link rel="stylesheet" href="assets/extras/settings.css" type="text/css">
    <!-- Nivo Lightbox Css -->
    <link rel="stylesheet" href="assets/extras/nivo-lightbox.css" type="text/css">
    <!-- Slicknav Css -->
    <link rel="stylesheet" href="assets/css/slicknav.css" type="text/css">
    <!-- Responsive Style -->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="assets/css/colors/sky.css" media="screen" />




<link rel="stylesheet" href="script/css/style.css" type="text/css" media="screen"/>

  </head>
  <body style="background: url('') no-repeat; background-size: cover;">
    
    <!-- Header area wrapper Starts -->
    <header id="header-wrap">
      <!-- Roof area Starts -->
      <div id="roof" class="hidden-xs">
          <div class="container">
              <!-- Wellcome Starts -->
              <div class="pull-left">
                <i class="fa fa-map-o" aria-hidden="true"></i> TDSI_UCAD
              </div>
              <!-- Wellcome End -->

              <!-- Quick Contacts Starts -->
              <div class="quick-contacts pull-right">
                  <span><i class="fa fa-phone"></i> +221 771958743</span>
                  <span><i class="fa fa-envelope"></i><a href="#">bloctdsi@ucad.edu</a></span>
                  <span><a href="loger"><i class="fa fa-user"></i> Login</a> / <a href="index.php">Deconnecter</a></span>
              </div>
              <!-- Quick Contacts End -->
          </div>
      </div>
      <!-- Roof area End -->

      <!-- Navbar Start -->
      <nav class="navbar navbar-default main-navigation" role="navigation" data-spy="affix" data-offset-top="50">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.php"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- Brand End -->

            <!-- Search Icon -->
            <div class="header-search pull-right">
                <a class="open-search">
                    <i class="fa fa-search"></i>
                </a>
            </div>  
            <!-- Collapse Navbar -->
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-toggle">
                  <a class="active" href="index.php" data-toggle="dropdown">Acceuil <i class="fa fa-angle-down"></i></a>
                                  
                </li>
                <li class="dropdown dropdown-toggle">
                  <a href="mesarticle">Mes articles <i class="fa fa-angle-down"></i></a>
            
                </li>



                <li class="dropdown dropdown-toggle">
                  <a href="creer_article.php" >Creer article <i class="fa fa-angle-down"></i></a>
                </li>     
                <li class="dropdown dropdown-toggle">
                  <a href="liste_article.php" >Liste article <i class="fa fa-angle-down"></i></a>

                          
                </li> 
               
              </ul>
            </div>  
             <!-- Form for navbar search area -->
            <form class="full-search">
              <div class="container">
                <div class="row">
                  <input class="form-control" type="text" placeholder="Search">
                  <a class="close-search">
                  <span class="fa fa-times">
                  </span>
                  </a>
                </div>
              </div>
            </form>
            <!-- Search form ends -->   

            <!-- Mobile Menu Start -->
           
                        
            </ul>
            <!-- Mobile Menu End -->

          </div>
      </nav>
      <!-- Navbar End -->










    </header>
   
 <!-- Header area wrapper End -->

    <!-- Page Header Start -->
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">BLOG TDSI</h2>
              <a href="index.php">ACCEUIL</a>
              <span>/</span>
              <span class="current">ACCUEIL</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 





    <!-- Start Content Section -->
    <section id="content" class="error-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="error-page">
              <h3><a rel="nofollow" href="https://rebrand.ly/gg-bright-purchase">Bienvenue dans le blog <b> de la</b>  TDSI <b> Pour plus d'information veuillez </b></a></h3>
              <a rel="nofollow" href="description.php" class="btn btn-common">Cliquer ici!</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Content Section  -->

    <!-- Activity Area Start -->


  <!-- Footer Section -->
    <footer>
      <!-- Container Starts -->
      <div class="container">
        <!-- Row Starts -->
        <div class="row">
          <!-- Footer Widget Starts -->
          <div class="footer-widget col-md-3 col-sm-6 col-xs-12">
            <h3 class="small-title">
         Informations de contact
            </h3>
            <p>
            Une centrale d'éducation, de recherche et d'enseignement de pointe dans le monde
            </p>  
            <ul class="address">
                <li><i class="fa fa-home"></i> TDSI , UCAD</li>
                <li><i class="fa fa-phone"></i> +221 771958743</li>
                <li><i class="fa fa-envelope"></i> bloctdsi@ucad.edu</li>
            </ul>        
          </div><!-- Footer Widget Ends -->
          
          <!-- Footer Widget Starts -->
          <div class="footer-widget col-md-3 col-sm-6 col-xs-12">
            <h3 class="small-title">
            Dernières Infos

            </h3>
            <ul class="recent-post">
              <li class="post">
                <a href="assets/img/flicker/img1.jpg" class="lightbox">
                <img alt="" src="assets/img/flicker/img1.jpg">
                </a>
                <p class="text">Lutter contre le système comme le vrai moderne<br><span>Nov 05,2016</span></p>
              </li>
              <li class="post">
                <a href="assets/img/flicker/img1.jpg" class="lightbox">
                <img alt="" src="assets/img/flicker/img2.jpg">
                </a>
                <p class="text">Allons-nous déménager sur le côté est<br><span>Nov 09,2016</span></p>
              </li>
            </ul>
          </div>
          <!-- Footer Widget Ends -->        

          <!-- Footer Widget Starts -->
          <div class="footer-widget col-md-3 col-sm-6 col-xs-12">
            <h3 class="small-title">
              Nos cours
              
             </h3>
            <ul class="list">
              <li><a href="#">création de sites web</a></li>
              <li><a href="#">Développeur Android</a></li>
              <li><a href="#">Formation PHP</a></li>
              <li><a href="#">Développeur IOS</a></li>
              <li><a href="#">conception d'application</a></li>
            </ul>
          </div>
          <!-- Footer Widget Ends -->

          <!-- Footer Widget Starts -->
          <div class="footer-widget col-md-3 col-sm-6 col-xs-12">
            <h3 class="small-title">
                 Photos Ecole
            </h3>
            <div class="plain-flicker-gallery">
              <a href="#" title="Pan Masala"><img src="assets/img/flicker/img1.jpg" alt=""></a>
              <a href="#" title="Sports Template for Joomla"><img src="assets/img/flicker/img2.jpg" alt=""></a>
              <a href="" title="Apple Keyboard"><img src="assets/img/flicker/img3.jpg" alt=""></a>
              <a href="" title="Hard Working"><img src="assets/img/flicker/img4.jpg" alt=""></a>
              <a href="" title="Smile"><img src="assets/img/flicker/img5.jpg" alt=""></a>
              <a href="" title="Puzzle"><img src="assets/img/flicker/img6.jpg" alt=""></a>
            </div>
          </div><!-- Footer Widget Ends -->
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
      
      <!-- Copyright -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6  col-sm-6">
              <p class="copyright-text">
                © All rights reserved 2017 - Design &amp; Developed by <a rel="nofollow" href="http://graygrids.com">GrayGrids</a>
              </p>
            </div>
            <div class="col-md-6  col-sm-6">                
              <div class="bottom-social-icons pull-right">  
                <a class="facebook" target="_blank" href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a> 
                <a class="twitter" target="_blank" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
                <a class="google-plus" target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                <a class="linkedin" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
              </div>            
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright  End-->
      
    </footer>
    <!-- Footer Section End-->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-arrow-up"></i>
    </a>








   

    <!-- jQuery  -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/color-switcher.js"></script>
    <script type="text/javascript" src="assets/js/jquery.mixitup.js"></script>
    <script type="text/javascript" src="assets/js/wow.js"></script>
    <script type="text/javascript" src="assets/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.countdown.js"></script>  
    <script type="text/javascript" src="assets/js/jquery.counterup.min.js"></script>   
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script> 
    <script type="text/javascript" src="assets/js/form-validator.min.js"></script>
    <script type="text/javascript" src="assets/js/contact-form-script.js"></script>  
    
    <script type="text/javascript" src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>